/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @keyframes countdown {
    to {
      stroke-dashoffset: 0;
    }
  }
}

@keyframes countdown {
  to {
    stroke-dashoffset: 0;
  }
}
